body{
    cursor: grab;
    background-color: black !important; 
    color: white !important;
    font-family:Arial, Helvetica, sans-serif;
}

.loading{
    font-size: xx-large;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}

.userTypes{
    position: absolute;
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 90vh;
    z-index: 2;
    font-size: 3rem;
}

.userTypes > div {
    border: 2px white solid;
    padding: 3rem;
    border-radius: 20px;
    transition: ease-out 0.2s;
}

.userTypes > div:hover {
    color: black;
    background-color: white;
    transform: scale(1.2);
} 


canvas{
    display: none;
    position: relative;
    z-index: 1;
}

.input{
    display: none;
    position: absolute;
    z-index: 2;
    top: 42%;
    left: 47%;
    transform: translate(-50%, -50%);
}


#myForm{
    width: 90vw;
    height: 80vh;
    margin: auto;
    font-size: 2.5rem;
 

    input{
        height: 25px;
        width: 270px;
        margin: 20px 0px;
        font-size: 1.7rem;
        color: black;
    }

    button{
        width: 270px;
    }

    .inputContainer{
        display: flex;
        flex-direction: column;
    }

    /* div{
        background-color: #efefef; 
        color: black;
        text-align: center;
        margin-top: 10px;
        font-family: sans-serif;
    } */
}

#displayCompanyDetail{
    position: absolute;
    z-index: 2;
    padding: 10px 20px;
    width: 80vw;
    margin: auto;

    .docLink{
        margin: 25px 0px;
        text-decoration: none;
        color: white;
        border: 2px white solid;
        padding: 10px;
        border-radius: 10px;
        font-size: 2rem;
    }

    .docLink:hover{
        color: black;
        background-color: white;
    }

    /* a{
        text-decoration: none;
        color: white;
        border: 2px white solid;
        padding: 10px;
        border-radius: 10px;
        font-size: 1.5rem;
    } */

    button {
        padding: 10px;
        width: 100px;
        font-size: 1.5rem;
    }
}

.bold{
    font-size: 2em;
    font-weight: 100;
    margin: 15px 10px;
}

.normal{
    font-size: 2.5rem;
    font-weight: 400;
}

